@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");
html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#main {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #e9e9e9;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  font-family: "Lato", "Roboto", sans-serif !important;
  word-break: break-word;
  color: black;
}